<nz-table
  #editRowTable
  [nzData]="faqData"
  [nzLoading]="pageLoading"
  nzSize="small"
  nzBordered="true"
  nzOuterBordered="true"
  nzTableLayout="fixed"
>
  <thead>
    <tr>
      <th nzWidth="40%">{{ "question" | translate }}</th>
      <th nzWidth="40%">{{ "answer" | translate }}</th>
      <th nzWidth="20%">{{ "action" | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <ng-container *ngIf="!editCache[data.intentId].edit; else editTemplate">
        <td>{{ data.question }}</td>
        <td>{{ data.answer }}</td>
        <td class="image-link">
          <a (click)="startEdit(data.intentId)">{{ "edit" | translate }}</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a
            style="color:red"
            (nzOnConfirm)="deleteRow(data.intentId)"
            nz-popconfirm
            nzPopconfirmTitle="{{ 'sure.to.delete' | translate }}"
            >{{ "delete" | translate }}</a
          >
        </td>
      </ng-container>
      <ng-template #editTemplate>
        <td>
          <input
            [(ngModel)]="editCache[data.intentId].data.question"
            nz-input
            type="text"
          />
        </td>
        <td>
          <input
            [(ngModel)]="editCache[data.intentId].data.answer"
            nz-input
            type="text"
          />
        </td>
        <td>
          <a (click)="saveEdit(data.intentId)" class="save" style="float: left">
            {{ "save" | translate }}
          </a>
          <a
            (nzOnConfirm)="cancelEdit(data.intentId)"
            nz-popconfirm
            nzTitle="{{ 'sure.to.cancel' | translate }}"
            style="float: right"
          >
            {{ "cancel" | translate }}
          </a>
        </td>
      </ng-template>
    </tr>
  </tbody>
</nz-table>
