<div class="container">
  <div>
    <nz-page-header
      class="site-page-header"
      nzTitle="{{ 'chatbot.management' | translate }}"
    >
    </nz-page-header>
  </div>
  <div>
    <nz-spin [nzSpinning]="pageLoading">
      <nz-tabset>
        <nz-tab nzTitle="General">
          <app-chatbot-general (reloadTable)="reloadData($event)"></app-chatbot-general>
        </nz-tab>
        <nz-tab nzTitle="FAQ">
          <ng-template nz-tab>
            <app-chatbot-faq [chatbotIntentData]="chatbotIntentData"></app-chatbot-faq>
          </ng-template>
        </nz-tab>
        <nz-tab nzTitle="Lost and Found">
          <ng-template nz-tab>
            <app-chatbot-lost-and-found [chatbotIntentData]="chatbotIntentData"></app-chatbot-lost-and-found>
          </ng-template>
        </nz-tab>
        <nz-tab nzTitle="Letter">
          <ng-template nz-tab>
            <app-chatbot-letter [chatbotIntentData]="chatbotIntentData"></app-chatbot-letter>
          </ng-template>
        </nz-tab>
      </nz-tabset>
    </nz-spin>
  </div>
</div>

