<nz-page-header class="site-page-header" (nzBack)="back()" nzBackIcon nzTitle="Back">
</nz-page-header>
<nz-card-loading *ngIf="pageLoading"></nz-card-loading>
<nz-carousel nzAutoPlay [nzEffect]="effect" style="margin-top:2vh">
  <div nz-carousel-content *ngFor="let image of imageUrlArray">
    <img [src]=image alt="" style="height:50vh;">
  </div>
</nz-carousel>
<div *ngIf="!pageLoading">
  <div class="title" nz-row>
    <div nz-col nzSpan="12">
      <h1>{{title}}</h1>
    </div>
    <div nz-col nzOffset="9" nzSpan="3" *ngIf="isAdminRole()">
      <a  style="margin-right:1vw" nz-button nzType="text" [routerLink]="['/admin/news-and-announcement/edit',this.paramId]">Edit</a>
      <a nz-button nzType="text" nzDanger (click)="deleteNewsAndAnnouncement(this.paramId)">Delete</a>
    </div>
  </div>
  {{createdAt | date}}
  <nz-divider></nz-divider>
  <div [innerHTML]="contents">
  </div>
  <div>
    <nz-divider nzOrientation="left" nzText="Attachments"></nz-divider>
    <div>
      <div *ngFor="let attachment of attachments">
        <div class="attachment-margin" style="margin-bottom: 1vh;">
          <button (click)="goToLink(attachment.link)" nz-button ><i nz-icon nzType="link" nzTheme="outline"></i>
            {{attachment.fileName}}
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
