input {
  height: 50px;
}

nz-form-item {
  margin-bottom: 10px;
}

.create-button-container {
  margin-bottom: 0px;
  display: flex;
  justify-content: flex-end;
}

.create-button {
  height: 40px;
  border-radius: 5px;
  min-width: 100px;
}