<div style="display: flex; justify-content: center; align-items: center;">
  <nz-card style="width: 60%;" [nzBordered]="true" nzTitle="Add New Ticket">
    <form
      (ngSubmit)="submitForm()"
      [formGroup]="addTicketForm"
      [nzLayout]="'horizontal'"
      nz-form
    >
      <nz-form-item>
        <nz-form-label
          [nzSpan]="4"
          >{{ "category" | translate }}</nz-form-label
        >
        <nz-form-control
          style="padding-left: 10px;"
          [nzSpan]="15"
          nzErrorTip="{{ 'select.category' | translate }}"
        >
          <nz-select
            formControlName="category"
            nzAllowClear
            nzPlaceHolder="{{ 'select.category' | translate }}"
            nzShowSearch
          >
            <nz-option
              *ngFor="let category of categories"
              nzLabel="{{ category }}"
              nzValue="{{ category }}"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label
          [nzSpan]="4"
          >{{ "ticket.title" | translate }}</nz-form-label
        >
        <nz-form-control [nzSpan]="15" [nzErrorTip]="titleErrorTpl">
          <input formControlName="title" nz-input placeholder="Ticket Title" />
          <ng-template #titleErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              {{ "no.blank" | translate }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          [nzSpan]="4"
          >{{ "description" | translate }}</nz-form-label
        >
        <nz-form-control
          [nzSpan]="15"
          nzErrorTip="{{ 'write.something' | translate }}"
        >
          <input
            formControlName="description"
            nz-input
            placeholder="Ticket description (Please write your problem description here.)"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="create-button-container">
        <nz-form-control>
          <button
            class="create-button"
            [disabled]="!addTicketForm.valid"
            nz-button
            nzType="primary"
          >
            {{ "add" | translate }}
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</div>
