<div class="container">
  <div>
    <nz-page-header
      class="site-page-header"
      nzTitle="{{ 'Forum' | translate }}"
    >
    </nz-page-header>
  </div>

  <app-forum-create></app-forum-create>

  <nz-card-loading *ngIf="pageLoading"></nz-card-loading>
  <div style="margin-top: 30px; padding-left: 20px; padding-right: 20px" *ngIf="!pageLoading">
    <nz-list nzItemLayout="vertical">
      <li
        style="padding-top: 0px; padding-bottom: 0px"
        *ngFor="let data of forumData; let i = index"
        nz-list-item
        nzNoFlex
      >
        <h4 nz-typography style="margin-bottom: 0px;">
          <a [routerLink]="['/student/forum/', data._id]">{{ data.title }}</a>
        </h4>
        <p>
          {{ data.description }}
        </p>
        <ul nz-list-item-actions style="margin-bottom: 5px; padding-left: 0">
          <i
            nz-icon
            nzTheme="outline"
            nzType="user"
            style="margin-right: 8px"
          ></i
          >{{
          data.creatorName
          }}
          <i
            style="margin-right: 8px; margin-left: 30px"
            nz-icon
            nzTheme="outline"
            nzType="calendar"
          ></i
          >{{
          data.createdAt | date
          }}
          <i
            style="margin-right: 8px; margin-left: 30px"
            nz-icon
            nzTheme="outline"
            nzType="fire"
          ></i
          >{{
          data.numberOfReplies
          }}
          {{
          "replies" | translate
          }}
        </ul>
      </li>
    </nz-list>
  </div>
  <div style="margin-top: 20px; display: flex; justify-content: flex-end;">
    <nz-pagination [nzPageIndex]="1" [nzTotal]="pagination" [nzPageSize]="10"
                   (nzPageIndexChange)="onPageIndexChange($event)"></nz-pagination>
  </div>
</div>
