<div class="container">

  <div>
    <nz-page-header
      class="site-page-header"
      nzTitle="{{'forum' | translate}}">
    </nz-page-header>
  </div>

  <app-forum-create></app-forum-create>

  <nz-card-loading *ngIf="pageLoading"></nz-card-loading>
  <div>
    <nz-list nzItemLayout="vertical">
      <li *ngFor="let data of forumData; let i = index" nz-list-item nzNoFlex>
        <h3>
          <a [routerLink]="['/student/forum/',data._id]">{{ data.title }}</a>
        </h3>
        <p>
          {{ data.description }}
        </p>
        <ul nz-list-item-actions style="padding-left: 0">
          <i nz-icon nzTheme="outline" nzType="user" style="margin-right: 8px;"></i>{{data.creatorName}}
          <i nz-icon nzTheme="outline" nzType="calendar"
             style="margin-right: 8px; margin-left: 8px"></i>{{data.createdAt | date}}
          <i nz-icon nzTheme="outline" nzType="fire"
             style="margin-right: 8px; margin-left: 8px"></i>{{data.numberOfReplies}} {{'replies' | translate}}
        </ul>
      </li>
    </nz-list>
  </div>
</div>
