.auth-card {
  margin: auto;
  width: 470px;
}

input {
  border-radius: 20px;
  height: 40px;
}

nz-card {
  width: 100%;
  border-radius: 5%;
}

[nz-form] {
  max-width: 600px;
}

.register-area {
  width: 100%;
  margin-bottom: 8px;
}

.register-form {
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
}

.register-form-button {
  width: 100%;
}
