<div class="auth-card">
  <nz-card>
    <nz-spin [nzSpinning]="pageLoading">
      <div>
        <nz-card-tab>
          <nz-tabset nzSize="large">
            <nz-tab nzTitle="{{'Reset Password'}}"></nz-tab>
          </nz-tabset>
        </nz-card-tab>

        <div>
          <form (ngSubmit)="submitForm()" [formGroup]="validateForm" class="register-form" nz-form>

            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your password!">
                <nz-input-group nzPrefixIcon="lock">
                  <input (ngModelChange)="updateConfirmValidator()" formControlName="password" id="password" nz-input
                         placeholder="Password" type="password"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="errorTpl">
                <nz-input-group nzPrefixIcon="check-circle">
                  <input (ngModelChange)="updateConfirmValidator()" formControlName="checkPassword" id="checkPassword"
                         nz-input
                         placeholder="Check Password" type="password"/>
                </nz-input-group>
                <ng-template #errorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Please confirm your password!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('confirm')">
                    Two passwords that you enter is inconsistent!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>

            <div>
              <button class="register-form-button" [disabled]="!validateForm.valid" nz-button nzType="primary">Reset
                password
              </button>
            </div>
          </form>
        </div>
      </div>
    </nz-spin>
  </nz-card>

</div>
