.attachment-margin {
  margin-bottom: 1vh;
}

input {
  height: 40px;
}

.attachment-link {
  min-height: 40px;
  max-width: 300px;
  border-radius: 5px;
  color: white;
  background-color: #2379b3;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: white
}

nz-form-label {
  text-align: left;
}

nz-form-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-button-container {
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}

.create-button {
  height: 40px;
  border-radius: 5px;
  min-width: 100px;
}