<nz-table
  #basicTable
  nzSize="small"
  nzBordered="true"
  nzOuterBordered="true"
  [nzData]="newsAndAnnouncementData"
  [nzLoading]="pageLoading">
  <thead>
  <tr>
    <th style="width: 60%;">Topic</th>
    <th style="width: 20%;">Date</th>
    <th style="width: 20%;">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td class="image-link">
      <a [routerLink]="['/admin/news-and-announcement/',data._id]">{{ data.title }}</a>
    </td>
    <td class="image-link">
      {{data.createdAt | date}}
    </td>
    <td class="image-link">
      <a [routerLink]="['/admin/news-and-announcement/edit',data._id]">{{'edit' | translate}}</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a style="color: red;" (nzOnConfirm)="delete(data._id)" nz-popconfirm
         nzPopconfirmTitle="{{'sure.to.delete' | translate}}">{{'delete' | translate}}</a>
    </td>
  </tr>
  </tbody>
</nz-table>
