<nz-card-loading *ngIf="pageLoading"></nz-card-loading>
<div>
  <nz-list nzItemLayout="vertical">
    <li *ngFor="let data of newsAndAnnouncementData; let i = index" nz-list-item nzNoFlex>
      <h3>
        <a [routerLink]="['/admin/news-and-announcement/',data._id]">{{ data.title }}</a>
      </h3>
      &nbsp;&nbsp;<a [routerLink]="['/admin/news-and-announcement/edit',data._id]">{{'edit' | translate}}</a>&nbsp;&nbsp;
      <a (nzOnConfirm)="delete(data._id)" nz-popconfirm nzPopconfirmTitle="{{'sure.to.delete' | translate}}">{{'delete' | translate}}</a>
      <ul nz-list-item-actions style="padding-left: 0">
        <i nz-icon nzTheme="outline" nzType="calendar"
           style="margin-right: 8px; margin-left: 8px"></i>{{data.createdAt | date}}
      </ul>
    </li>
  </nz-list>
</div>
