<div class="container">
  <div>
    <nz-page-header
      class="site-page-header"
      nzTitle="{{ 'news.and.announcement' | translate }}"
    >
    </nz-page-header>
  </div>
  <nz-table
    #basicTable
    nzSize="small"
    nzBordered="true"
    nzOuterBordered="true"
    [nzData]="newsAndAnnouncementData"
    [nzLoading]="pageLoading">
    <thead>
    <tr>
      <th style="width: 80%;">Topic</th>
      <th style="width: 20%;">Date</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>
        <a style="text-decoration: none;" [routerLink]="['/student/news-and-announcement/',data._id]">{{ data.title }}</a>
      </td>
      <td class="image-link">
        <i nz-icon nzTheme="outline" nzType="calendar"
           style="margin-right: 8px; margin-left: 8px"></i>{{data.createdAt | date}}
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
