<a *ngIf="attachments.length > 0  ;else elseBlock" (click)="viewAttachment(attachments)">View</a>
<nz-modal
  (nzOnOk)="closeModel()" [(nzVisible)]="isVisible" [nzCancelText]="null" nzClosable="false"
  nzTitle="{{'attachments' | translate}}" nzWidth="650">
  <div *ngFor="let attachment of attachments">
    <button (click)="goToLink(attachment)" nz-button ><i nz-icon nzType="link" nzTheme="outline"></i>
      {{attachment}}
    </button>
  </div>

</nz-modal>
<ng-template #elseBlock>
  <a>No attachment</a>
</ng-template>
