<div class="container">
  <div>
    <nz-page-header
      class="site-page-header"
      nzTitle="{{'lost.and.found' | translate}}">
    </nz-page-header>
  </div>
  <div class="content-lost-and-found">

    <form (ngSubmit)="search()" [formGroup]="lostAndFoundForm" [nzLayout]="'inline'" nz-form>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="search">
            <input formControlName="item" nz-input placeholder="{{'item'| translate}}"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-form-control>
            <nz-range-picker formControlName="date"></nz-range-picker>
          </nz-form-control>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary">{{'search' | translate}}</button>
        </nz-form-control>
      </nz-form-item>
    </form>

    <nz-table #lostAndFoundTable [nzData]="lostAndFoundData" [nzLoading]="pageLoading">
      <thead>
      <tr>
        <th>{{'item' | translate}}</th>
        <th>{{'location' | translate}}</th>
        <th>{{'date' | translate}}</th>
        <th>{{'image' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of lostAndFoundTable.data; let i = index">
        <td>{{ data.item }}</td>
        <td>{{ data.location }}</td>
        <td>{{ data.createdAt | date }}</td>
        <td>
          <app-lost-and-found-image [imageId]="data._id"></app-lost-and-found-image>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
