<div class="container">
  <div>
    <nz-page-header
      class="site-page-header"
      nzTitle="{{ 'lost.and.found' | translate }}"
    >
    </nz-page-header>
  </div>
  <nz-tabset>
    <nz-tab nzTitle="{{'lost.item' | translate}}">
      <app-lost-item></app-lost-item>
    </nz-tab>
    <nz-tab nzTitle="{{'my.lost.item' | translate}}">
      <app-lost-item-create></app-lost-item-create>
    </nz-tab>
    <nz-tab nzTitle="{{'found.item' | translate}}">
      <app-found-item></app-found-item>
    </nz-tab>

  </nz-tabset>
</div>
