<nz-spin [nzSpinning]="pageLoading">
  <div class="container">
    <div>
      <nz-page-header
        class="site-page-header"
        nzTitle="{{'frequently.asked.question' | translate}}">
      </nz-page-header>
    </div>
    <div class="content-faq">
      <nz-collapse>
        <nz-collapse-panel *ngFor="let faqQuestionAnswer of faqQuestionAndAnswer" [nzHeader]="faqQuestionAnswer.question" [nzActive]="faqQuestionAnswer.active">
          <p style="margin:0;">
            {{faqQuestionAnswer.answer}}
          </p>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </div>
</nz-spin>
