<nz-layout class="app-layout">
  <nz-sider [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null"
            class="menu-sidebar"
            nzBreakpoint="md"
            nzCollapsible
            nzWidth="256px">
    <div class="sidebar-logo">
      <a>
        <img alt="logo" src="https://ng.ant.design/assets/img/logo.svg">
        <h1>{{title}}</h1>
      </a>
    </div>
    <div>
      <ul [nzInlineCollapsed]="isCollapsed" nz-menu nzMode="inline" nzTheme="dark">
                <li [nzTitle]="isCollapsed ? ('chatbot-management' | translate) : ''" nz-menu-item nz-tooltip nzMatchRouter
                                                                        nzTooltipPlacement="right">
                  <i nz-icon nzType="wechat" nzTheme="outline"></i>
                  <span>{{'chatbot.management' | translate}}</span>
                  <a routerLink="/admin/chatbot-management"></a>
                </li>
        <li *ngIf="roleSuperadmin" [nzTitle]="isCollapsed ? ('user.management' | translate) : ''" nz-menu-item
            nz-tooltip nzMatchRouter
            nzTooltipPlacement="right">
          <i nz-icon nzType="wallet"></i>
          <span>{{'user.role.management' | translate}}</span>
          <a routerLink="/admin/user-management"></a>
        </li>
        <li [nzTitle]="isCollapsed ? ('forum' | translate) : ''" nz-menu-item nz-tooltip nzMatchRouter
            nzTooltipPlacement="right">
          <i nz-icon nzTheme="outline" nzType="team"></i>
          <span>{{'forum' | translate}}</span>
          <a routerLink="/admin/forum"></a>
        </li>
        <li [nzTitle]="isCollapsed ? ('faq' | translate) : ''" nz-menu-item nz-tooltip nzMatchRouter
            nzTooltipPlacement="right">
          <i nz-icon nzType="question-circle"></i>
          <span>{{'faq' | translate}}</span>
          <a routerLink="/admin/faq"></a>
        </li>
        <li [nzTitle]="isCollapsed ? ('lost.and.found' | translate) : ''" nz-menu-item nz-tooltip nzMatchRouter
            nzTooltipPlacement="right">
          <i nz-icon nzType="file-search"></i>
          <span>{{'lost.and.found' | translate}}</span>
          <a routerLink="/admin/lost-and-found"></a>
        </li>
        <li [nzTitle]="isCollapsed ? ('news.and.announcement' | translate) : ''" nz-menu-item nz-tooltip nzMatchRouter
            nzTooltipPlacement="right">
          <i nz-icon nzType="alert"></i>
          <span>{{'news.and.announcement' | translate}}</span>
          <a routerLink="/admin/news-and-announcement"></a>
        </li>
        <li [nzTitle]="isCollapsed ? ('my.tickets' | translate) : ''" nz-menu-item nz-tooltip nzMatchRouter
            nzTooltipPlacement="right">
          <i nz-icon nzType="wallet"></i>
          <span>{{'tickets' | translate}}</span>
          <a routerLink="/admin/tickets"></a>
        </li>
      </ul>
    </div>

  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span (click)="isCollapsed = !isCollapsed" class="header-trigger">
          <i [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
             class="trigger"
             nz-icon
          ></i>
        </span>
        <a [nzDropdownMenu]="menu" nz-dropdown style="right: -90%; text-decoration: none;">
          {{username}}
          <i nz-icon nzType="down"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul class="option" nz-menu nzSelectable>
            <li nz-menu-item>
              <a class="option-item" routerLink="/admin/profile" [nzType]="'link'" nz-button>
                <span>{{'update.profile' | translate}}</span>
              </a>
            </li>
            <li nz-menu-item>
              <a class="option-item" (click)="logout()" [nzType]="'link'" nz-button>
                <span>{{'logout' | translate}}</span>
              </a>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <nz-spin [nzSpinning]="pageLoading">
          <router-outlet></router-outlet>
        </nz-spin>
      </div>
    </nz-content>
  </nz-layout>

</nz-layout>
