:host ::ng-deep .avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}

input {
  height: 40px;
  margin-left: 10px;
}

nz-form-item {
  margin-bottom: 10px;
}

.field-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

[nz-form-label] {
  overflow: visible;
}

.create-button-container {
  margin-bottom: 0px;
  display: flex;
  justify-content: flex-end;
}

nz-form-label {
  text-align: center; margin-bottom: 10px
}

button {
  height: 40px;
  border-radius: 5px;
  min-width: 100px;
}
