<nz-spin [nzSpinning]="pageLoading">
  <form (ngSubmit)="submitForm()" [formGroup]="lostAndFoundCreateForm" nz-form
        *ngIf="lostAndFoundType !== 'lost';else elseBlock">

    <nz-form-item>
      <nz-form-label [nzSpan]="3">{{'item' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="16" nzErrorTip="Please input your item!">
        <input formControlName="item" nz-input/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="lostAndFoundType == 'lost'">
      <nz-form-label [nzSpan]="3">{{'description' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="16" nzErrorTip="Please input your description!">
        <input formControlName="description" nz-input/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="lostAndFoundType == 'lost'">
      <nz-form-label [nzSpan]="3">{{'contact' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="16" nzErrorTip="Please input your contact method (Either email or h/p no.)!">
        <input formControlName="contact" nz-input/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="3">{{'location.found' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="16" nzErrorTip="Please input your location!">
        <input formControlName="location" nz-input/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="3">{{'upload' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="16" nzExtra="{{imageInputExtra}}">
        <input (change)="uploadFile($event)" type="file">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSpan]="8" nzOffset="3">
        <button [disabled]="!lostAndFoundCreateForm.valid" nz-button nzType="primary">{{'submit' | translate}}</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #elseBlock>
    <div class="content-lost-and-found" style="display: flex; align-items: center; justify-content: center;">
      <nz-card style="width: 60%;" [nzBordered]="true" nzTitle="Add Lost Item">
        <form 
              (ngSubmit)="submitForm()"
              [formGroup]="lostAndFoundCreateForm"
              [nzLayout]="'vertical'"
              nz-form>
          <nz-form-item class="field-center">
            <nz-form-label [nzSpan]="4">{{'item' | translate}}:</nz-form-label>
            <nz-form-control [nzSpan]="15" nzErrorTip="Please input your item!">
              <input formControlName="item" nz-input/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="field-center" *ngIf="lostAndFoundType == 'lost'">
            <nz-form-label [nzSpan]="4">{{'description' | translate}}:</nz-form-label>
            <nz-form-control [nzSpan]="15" nzErrorTip="Please input your description!">
              <input formControlName="description" nz-input/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="field-center" *ngIf="lostAndFoundType == 'lost'">
            <nz-form-label [nzSpan]="4">{{'contact' | translate}}:</nz-form-label>
            <nz-form-control [nzSpan]="15" nzErrorTip="Please input your contact method (Either email or h/p no.)!">
              <input formControlName="contact" nz-input/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="field-center">
            <nz-form-label [nzSpan]="4">Location Lost:</nz-form-label>
            <nz-form-control [nzSpan]="15" nzErrorTip="Please input your location!">
              <input formControlName="location" nz-input/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="field-center">
            <nz-form-label [nzSpan]="4">{{'upload' | translate}}:</nz-form-label>
            <nz-form-control [nzSpan]="15" nzExtra="{{imageInputExtra}}">
              <input (change)="uploadFile($event)" type="file">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="create-button-container">
            <nz-form-control style="display:flex; justify-content: center !important;" [nzSpan]="8" nzOffset="1">
              <button [disabled]="!lostAndFoundCreateForm.valid" nz-button nzType="primary">{{'submit' | translate}}</button>
            </nz-form-control>
          </nz-form-item>

        </form>
      </nz-card>
    </div>

  </ng-template>
</nz-spin>
