<div class="auth-card">
  <nz-card *ngIf="!forgotPasswordFormVisible">
    <div>
      <nz-card-tab>
        <nz-tabset [(nzSelectedIndex)]="index" nzSize="large">
          <nz-tab nzTitle="{{'Login' | translate}}"></nz-tab>
          <nz-tab nzTitle="{{'Register' | translate}}"></nz-tab>
        </nz-tabset>
      </nz-card-tab>
      <div *ngIf="index==0" class="login-registration-form">
        <app-login-form (resetPassword)="forgotPasswordVisible($event)"></app-login-form>
      </div>
      <div *ngIf="index==1" class="login-registration-form">
        <app-register-form></app-register-form>
      </div>
    </div>
  </nz-card>
  <nz-card *ngIf="forgotPasswordFormVisible">
    <div>
      <nz-card-tab>
        <nz-tabset [(nzSelectedIndex)]="index" nzSize="large">
          <nz-tab nzTitle="{{'Forgot Password'}}"></nz-tab>
        </nz-tabset>
      </nz-card-tab>
      <app-forgot-password-form (back)="forgotPasswordVisible($event)"></app-forgot-password-form>
    </div>
  </nz-card>
</div>
