<a (click)="showModal()" [nzType]="'link'" nz-button>{{'train' | translate}}</a>
<nz-modal
  (nzOnOk)="closeModel()"
  [(nzVisible)]="isVisible"
  (nzOnCancel)="handleCancel()"
  nzClosable="false"
  nzTitle="{{'Update Intent' | translate}}" nzWidth="650">
  <nz-spin [nzSpinning]="pageLoading">
  <form [formGroup]="chatbotIntentTrainForm" nz-form>

    <nz-form-item *ngFor="let control of trainingPhrases; let i = index">
      <nz-form-label [nzSpan]="5"  *ngIf="i == 0" >{{'training.phrases' | translate}}</nz-form-label>
      <nz-form-control
        [nzSpan]="17"
        [nzOffset]="i == 0 ? 0 : 5"
      >
        <input
          class="passenger-input"
          nz-input
          [disabled]="true"
          placeholder= "{{control}}"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngFor="let control of listOfTrainingControl; let i = index">
      <nz-form-label [nzSpan]="5"  *ngIf="i == 0 && trainingPhrases.length == 0" [nzFor]="control.controlInstance">{{'training.phrases' | translate}}</nz-form-label>
      <nz-form-control
        [nzSpan]="17"
        [nzOffset]="i == 0 && trainingPhrases.length == 0 ? 0 : 5"
      >
        <input
          class="passenger-input"
          nz-input
          [attr.id]="control.id"
          [formControlName]="control.controlInstance"
        />
        <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removeField(control, $event)"></i>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSpan]="17" [nzOffset]="5">
        <button nz-button nzType="dashed" class="add-button" (click)="addField($event)">
          <i nz-icon nzType="plus"></i>
          Add field
        </button>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item *ngFor="let control of similarResponses; let i = index">
      <nz-form-label [nzSpan]="5"  *ngIf="i == 0" >{{'reply' | translate}}</nz-form-label>
      <nz-form-control
        [nzSpan]="17"
        [nzOffset]="i == 0 ? 0 : 5"
      >
        <input
          class="passenger-input"
          nz-input
          [disabled]="true"
          placeholder= "{{control}}"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngFor="let control of listOfResponseControl; let i = index">
      <nz-form-label [nzSpan]="5"  *ngIf="i == 0 && similarResponses.length == 0" [nzFor]="control.controlInstance">{{'reply' | translate}}</nz-form-label>
      <nz-form-control
        [nzSpan]="17"
        [nzOffset]="i == 0 && similarResponses.length == 0 ? 0 : 5"
      >
        <input
          class="passenger-input"
          nz-input
          [attr.id]="control.id"
          [formControlName]="control.controlInstance"
        />
        <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removeResponseField(control, $event)"></i>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSpan]="17" [nzOffset]="5">
        <button nz-button nzType="dashed" class="add-button" (click)="addResponseField($event)">
          <i nz-icon nzType="plus"></i>
          Add field
        </button>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzSpan]="8" nzOffset="5">
        <button nz-button nzType="primary" (click)="submitForm()">{{'submit' | translate}}</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  </nz-spin>
</nz-modal>
