<a (click)="showModal()" [nzType]="'link'" nz-button>{{'train' | translate}}</a>
<nz-modal
  (nzOnOk)="closeModel()"
  [(nzVisible)]="isVisible"
  (nzOnCancel)="handleCancel()"
  nzClosable="false"
  nzTitle="{{'Update Intent' | translate}}" nzWidth="650">
  <nz-spin [nzSpinning]="pageLoading">
  <form [formGroup]="chatbotIntentTrainForm" nz-form>

    <div formArrayName="trainings">
      <nz-form-item *ngFor="let training of trainings().controls; let i=index">
        <div [formGroupName]="i">
          <nz-form-label [nzSpan]="5"  *ngIf="i == 0">
            {{'training.phrases' | translate}}
          </nz-form-label>
          <nz-form-control
            [nzSpan]="17"
            [nzOffset]="i == 0 ? 0 : 5">
            <input
              class="passenger-input"
              nz-input
              type="text"
              formControlName="training">
            <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removeTraining(i)"></i>
          </nz-form-control>
        </div>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzSpan]="17" [nzOffset]="5">
          <button nz-button nzType="dashed" class="add-button" (click)="addTraining()">
            <i nz-icon nzType="plus"></i>
            Add field
          </button>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div formArrayName="responses" *ngIf="intentType !== 'faqIntent'" >
      <nz-form-item *ngFor="let response of responses().controls; let i=index">
        <div [formGroupName]="i">
          <nz-form-label [nzSpan]="5"  *ngIf="i == 0">
            {{'reply' | translate}}
          </nz-form-label>
          <nz-form-control
            [nzSpan]="17"
            [nzOffset]="i == 0 ? 0 : 5">
            <input
              class="passenger-input"
              nz-input
              type="text"
              formControlName="response">
              <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removeResponse(i)"></i>
          </nz-form-control>
        </div>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzSpan]="17" [nzOffset]="5">
          <button nz-button nzType="dashed" class="add-button" (click)="addResponse()">
            <i nz-icon nzType="plus"></i>
            Add field
          </button>
        </nz-form-control>
      </nz-form-item>
    </div>

    <nz-form-item *ngIf="intentType == 'faqIntent'">
      <nz-form-label [nzSpan]="5" >{{'reply' | translate}}</nz-form-label>
      <nz-form-control
        [nzSpan]="17"
        [nzOffset]="0"
      >
        <input
          class="passenger-input"
          nz-input
          [disabled]="true"
          [readonly]="true"
          placeholder= "{{response}}"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzSpan]="8" nzOffset="5">
        <button nz-button
                nzType="primary"
                [disabled]="!chatbotIntentTrainForm.valid"
                (click)="submitForm()">
          {{'submit' | translate}}
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
  </nz-spin>
</nz-modal>
