.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}

.dynamic-delete-button:hover {
  color: #777;
}

.passenger-input {
  width: 92%;
  margin-right: 8px;
}

.add-button {
  width: 92%;
}

input {
  height: 40px;
}

nz-form-label {
  text-align: left;
}

nz-form-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-button-container {
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}

.create-button {
  height: 40px;
  border-radius: 5px;
  min-width: 100px;
}

