<nz-spin [nzSpinning]="pageLoading">
  <form [formGroup]="chatbotIntentForm" nz-form>
    <nz-form-item>
      <nz-form-label [nzSpan]="3">Keyword</nz-form-label>
      <nz-form-control [nzSpan]="16" nzErrorTip="Please input the keyword!">
        <input formControlName="intentName" nz-input/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item >
      <nz-form-label [nzSpan]="3">{{'input' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="16" nzErrorTip="Please enter the input!">
        <input formControlName="input" nz-input/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="3">{{'response' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="16" nzErrorTip="Please input the response!">
        <input formControlName="response" nz-input/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="3" >{{'upload' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="16" >
        <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUploadFile">
          <button [disabled]="fileList.length > 4" nz-button><i nz-icon nzType="upload"></i>Select File</button>
        </nz-upload>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item style="justify-content: flex-end;">
      <nz-form-control class="create-button-container" [nzSpan]="8" nzOffset="3">
        <button class="create-button" [disabled]="!chatbotIntentForm.valid" (click)="submitForm()" nz-button nzType="primary">{{'submit' | translate}}</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-spin>
