<div>
  <nz-page-header
    class="site-page-header"
    nzTitle="{{'lost.and.found' | translate}}">
  </nz-page-header>
</div>
<nz-tabset>
  <nz-tab nzTitle="{{'manage.lost' | translate}}">
    <app-lost-manage></app-lost-manage>
  </nz-tab>
  <nz-tab nzTitle="{{'manage.found' | translate}}">
    <app-found-manage></app-found-manage>
  </nz-tab>
  <nz-tab nzTitle="{{'add.found.item' | translate}}">
    <app-lost-and-found-create [lostAndFoundType]="type"></app-lost-and-found-create>
  </nz-tab>
</nz-tabset>
