<nb-chat title="FCSITBot" style="height:85vh">
  <nb-chat-message *ngFor="let msg of messages"
                   type="file"
                   [message]="msg.text"
                   [reply]="msg.reply"
                   [sender]="msg.sender"
                   [date]="msg.date"
                   [avatar]="msg.avatar"
                   [files]="msg.files"
  >
  </nb-chat-message>

  <nb-chat-message *ngIf="loading" [nbSpinner]="loading" nbSpinnerStatus="info"
                   type="text"
                   avatar="https://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/robot-face.png"
                   message="...">

  </nb-chat-message>

  <nb-chat-form (send)="handleUserMessage($event)" [dropFiles]="true">
  </nb-chat-form>

</nb-chat>
<nz-card>
  <nz-spin [nzSpinning]="cardLoading">
    <span *ngFor="let data of chatbotIntentData; let i = index">
    <button
      nz-button
      nzType="default"
      nzShape="round"
      (click)="sendMessage(data.input)"
      style="margin-right: 5px">
      {{data.input}}
    </button>
  </span>
  </nz-spin>
</nz-card>
