<a (click)="showModal()" [nzType]="'link'" nz-button>{{'update' | translate}}</a>
<nz-modal
  (nzOnOk)="closeModel()"
  [(nzVisible)]="isVisible"
  (nzOnCancel)="handleCancel()"
  nzClosable="false"
  nzTitle="{{'Update Intent' | translate}}" nzWidth="650">
  <nz-spin [nzSpinning]="pageLoading">
    <form [formGroup]="chatbotIntentUpdateForm" nz-form>
      <nz-form-item>
        <nz-form-label [nzSpan]="4">{{'topic' | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="16" nzErrorTip="">
          <input formControlName="intentName" nz-input/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="4">{{'user.question' | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="16" nzErrorTip="">
          <input formControlName="input" nz-input/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="4">{{'reply' | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="16" nzErrorTip="">
          <input formControlName="response" nz-input/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngFor="let attachment of attachments; let i = index">
        <nz-form-label [nzSpan]="4" *ngIf="i == 0 ">{{'upload.file' | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="16" [nzOffset]="i == 0 ? 0 : 4">
          <a nz-button nzType="link" (click)="viewFile(attachment)"><i nz-icon nzType="link"
                                                                       nzTheme="outline"></i>{{attachment}}</a>
          <a nz-button nzType="link"
             nzDanger
             nz-popconfirm
             nzPopconfirmTitle="{{'sure.to.delete' | translate}}"
             (nzOnConfirm)="deleteFile(attachment)"><i nz-icon nzType="close" nzTheme="outline"></i></a>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="4" *ngIf="attachments.length < 1">{{'upload.file' | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="16" [nzOffset]="attachments.length > 0 ? 4 : 0">
          <nz-upload [(nzFileList)]="attachmentList" [nzBeforeUpload]="beforeUploadFile">
            <button class="upload-button" nz-button><i nz-icon nzType="upload"></i>Select File</button>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item style="display: flex; justify-content: flex-end;">
        <nz-form-control style="display: flex; justify-content: center;" [nzSpan]="8">
          <button class="create-button" nz-button nzType="primary" (click)="submitForm()">{{'submit' | translate}}</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-spin>
</nz-modal>
