<div class="center">
  <nz-spin [nzSpinning]="pageLoading">
    <a class="back-hyperink" (click)="backToLogin()">< Back to login</a>
    <div class="mt-1">
      <form (ngSubmit)="submitForm()" [formGroup]="validateForm" class="login-form" nz-form>
        <p>
          Please provide your registered email. A reset password link will be sent over to your email, please reset your
          password with the link provided.
        </p>
        <nz-form-item>
          <nz-form-control nzErrorTip="The input is not valid siswamail!">
            <nz-input-group nzPrefixIcon="mail">
              <input formControlName="userName" nz-input placeholder="Email" type="text"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <button [nzType]="'primary'" [disabled]="!validateForm.valid" class="login-form-button login-form-margin" nz-button>Submit</button>
      </form>

    </div>
  </nz-spin>
</div>
