.login-form-margin {
  margin-bottom: 16px;
}

.login-form-button {
  width: 100%;
  border-radius: 10px;
  height: 40px;
}

.login-form {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  border-radius: 20px;
  height: 40px;
  padding-left: 35px !important;
}

.back-hyperink {
  font-size: 20px;
}

.mt-1 {
  margin-top: 10px;
}
