<nz-spin [nzSpinning]="pageLoading">
  <nz-card [nzBordered]="true" nzTitle="Search For Item">
    <form
      style="align-items: center; justify-content: center; display: flex;"
      (ngSubmit)="submitForm()"
      [formGroup]="roleCreateForm"
      [nzLayout]="'inline'"
      nz-form>

      <nz-form-item>
        <nz-form-control nzErrorTip="Please input role!">
          <nz-input-group nzPrefixIcon="user">
            <input formControlName="role" id="role" nz-input placeholder="Role" type="text"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row>
        <nz-form-control>
          <button [disabled]="!roleCreateForm.valid" nz-button nzType="primary">{{'create.role' | translate}}</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</nz-spin>
