.center {
  display: flex;
  background-color: #cccccc;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,.5)),url('src/assets/static/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.login-registration {
  align-self: center;
  /*width: 470px;*/
}

.center h1 {
  align-self: center;
}
