<div>
  <div style="margin-bottom: 1vh">
    <app-role-management-create></app-role-management-create>
  </div>
  <div>
    <nz-table
      nzSize="small"
      nzBordered="true"
      nzOuterBordered="true"
      #basicTable
      [nzData]="role"
      [nzLoading]="pageLoading">
      <thead>
      <tr>
        <th>{{'role' | translate}}</th>
        <th>{{'action' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.role }}</td>
        <td class="image-link">
          <a style="color: red;"(nzOnConfirm)="deleteRole(data._id)" nz-popconfirm
             nzPopconfirmTitle="{{'sure.to.delete' | translate}}"> {{'delete' | translate}}
          </a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>

