<nz-spin [nzSpinning]="pageLoading">
  <div class="container">
    <div>
      <nz-page-header
        class="site-page-header"
        nzTitle="{{ 'profile' | translate }}"
      >
      </nz-page-header>
    </div>

    <div>
      <form (ngSubmit)="submitForm()" [formGroup]="validateForm" nz-form>
        <nz-form-item>
          <nz-form-label [nzSpan]="3">Username</nz-form-label>
          <nz-form-control [nzSpan]="8" nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
              <input formControlName="username" id="username" nz-input type="text"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="3">Full Name</nz-form-label>
          <nz-form-control [nzSpan]="8" nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
              <input formControlName="fullname" nz-input type="text"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="3">Email</nz-form-label>
          <nz-form-control [nzSpan]="8" nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
              <input formControlName="email" nz-input type="text"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="isAdmin()">
          <nz-form-label [nzSpan]="3" nzFor="staffRole">{{'staff.role' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="8" nzErrorTip="Please select staff role!">
            <nz-select
              id="staffRole"
              formControlName="staffRole"
              nzPlaceHolder="Select staff role"
              nzAllowClear
            >
              <nz-option *ngFor="let options of staffRoleOption" nzLabel="{{options.role}}" nzValue="{{options.role}}"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="3">New Password</nz-form-label>
          <nz-form-control [nzSpan]="8" nzErrorTip="Please input your password!">
            <nz-input-group nzPrefixIcon="lock">
              <input (ngModelChange)="updateConfirmValidator()"
                     formControlName="password"
                     id="password"
                     nz-input
                     type="password"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="3">Check Password</nz-form-label>
          <nz-form-control [nzSpan]="8" [nzErrorTip]="errorTpl">
            <nz-input-group nzPrefixIcon="check-circle">
              <input (ngModelChange)="updateConfirmValidator()"
                     formControlName="checkPassword"
                     id="checkPassword"
                     nz-input
                     type="password"/>
            </nz-input-group>
            <ng-template #errorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                Please confirm your password!
              </ng-container>
              <ng-container *ngIf="control.hasError('confirm')">
                Two passwords that you enter is inconsistent!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzSpan]="8" nzOffset="3">
            <button [disabled]="!validateForm.valid" nz-button nzType="primary">{{'update' | translate}}</button>
          </nz-form-control>
        </nz-form-item>

      </form>
    </div>

  </div>
</nz-spin>
