<div class="center">
  <nz-spin [nzSpinning]="pageLoading">
    <div>
      <form (ngSubmit)="submitForm()" [formGroup]="validateForm" class="login-form" nz-form>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your email!">
            <nz-input-group nzPrefixIcon="mail">
              <input formControlName="userName" nz-input placeholder="Email" type="text"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input formControlName="password" nz-input placeholder="Password" type="password"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <div class="login-form-margin" nz-row>
          <div [nzSpan]="24" nz-col>
            <a class="login-form-forgot" (click)="resetPasswordVisible()">Forgot password?</a>
          </div>
        </div>
        <button [nzType]="'primary'" class="login-form-button login-form-margin" nz-button>Log in</button>
      </form>

    </div>

  </nz-spin>

</div>
