<div class="container">
  <div>
    <nz-page-header
      class="site-page-header"
      nzTitle="{{ 'my.tickets' | translate }}"
    >
    </nz-page-header>
  </div>
  <div class="content-ticket">
    <nz-tabset>
      <nz-tab nzTitle="{{ 'track.ticket' | translate }}">
        <nz-card [nzBordered]="true" nzTitle="Track Your Ticket">
          <form
            style="align-items: center; justify-content: center; display: flex"
            [formGroup]="searchTicketForm"
            [nzLayout]="'inline'"
            nz-form
          >
            <nz-form-item>
              <nz-form-control>
                <nz-input-group nzPrefixIcon="search">
                  <input
                    formControlName="ticketNo"
                    nz-input
                    placeholder="{{ 'keyword' | translate }}"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <button nz-button nzType="primary" (click)="search()">
                  Search
                </button>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <button nz-button (click)="resetTable()">
                  Reset
                </button>
              </nz-form-control>
            </nz-form-item>
          </form>
        </nz-card>
      </nz-tab>

      <nz-tab nzTitle="{{ 'add.ticket' | translate }}">
        <app-add-ticket (triggerReloadTable)="reloadTable()"></app-add-ticket>
      </nz-tab>
    </nz-tabset>

    <nz-table
      #ticketTable
      nzSize="small"
      nzBordered="true"
      nzOuterBordered="true"
      [nzData]="ticketData"
      [nzLoading]="pageLoading"
    >
      <thead>
        <tr>
          <th>{{ "id" | translate }}</th>
          <th>{{ "title" | translate }}</th>
          <th>{{ "status" | translate }}</th>
          <th>{{ "created.date" | translate }}</th>
          <!--        <th>{{'last.updated.date' | translate}}</th>-->
          <th>{{ "view" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of ticketTable.data">
          <td>{{ data._id }}</td>
          <td>{{ data.title }}</td>
          <td class="image-link">{{ data.status }}</td>
          <td class="image-link">{{ data.createdAt | date }}</td>
          <!--        <td>{{ data.lastUpdatedDate}}</td>-->
          <td class="image-link">
            <app-ticket-detail [ticketDetail]="data"></app-ticket-detail>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
